{
    "qwen（推荐）": {
        "normal": [
            "qwen3-max-preview",
            "qwen3-max",
            "qwen3-235b-a22b-instruct"
        ],
        "coder": [
            "qwen3-coder-plus",
            "qwen3-coder",
            "qwen3-coder-flash"
        ],
        "think": [
            "qwen3.5-lts",
            "qwen3-think",
            "qwen3-235b-a22b-thinking-2507",
            "Qwen/QwQ-32B"
        ]
    },
    "glm": {
        "normal": [
            "glm-4-flash"
        ],
        "think": [
            "glm-5",
            "glm-4.7-flash",
            "glm-4.5-air"
        ]
    },
    "deepseek": {
        "normal": [
            "deepseek-ai/DeepSeek-V3"
        ],
        "think": [
            "deepseek-ai/DeepSeek-R1"
        ]
    },
    "gemini": {
        "auto": [
            "gemini-2.5-flash"
        ]
    },
    "gpt": {
        "auto": [
            "gpt-5-nano",
            "gpt-4.1-nano",
            "openai/gpt-oss-120b",
            "gpt-4",
            "gpt-5-mini",
            "gpt-4.1-mini",
            "gpt-4o-mini",
            "gpt-3.5-turbo"
        ]
    }
}